.container {
	border: 3px solid yellowgreen;
	width: 100%;
	padding: 3px;
}

.wrapper {
	border: 3px solid dodgerblue;
	max-width: 1000px;
	padding: 3px;
}

.content {
	background-color: gold;
	min-height: 30px;
	width: 100%;
}

.logo {
	display: none;
}

header .wrapper {
	display: flex;
	justify-content: flex-end;
}

nav {
	display: grid;
	width: 100%;
	grid-template-columns: minmax(35px, 1fr) minmax(100px, 1fr) minmax(35px, 1fr);
}

nav .menu {
	display: none;
}

nav label {
	background: none;
	border: none;
	display: block;
	justify-self: end;
	grid-column: 3 / 4;
	grid-row: 1/2;
}

nav label div {
	width: 35px;
	height: 5px;
	background-color: rgb(86, 86, 86);
	margin: 6px 0;
}

nav input {
	display: none;
}

nav input:checked + .menu {
	display: block;
	justify-self: center;
	grid-column: 2 / 3;
	grid-row: 1/2;
}
