*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav {
	background-color: rgb(79, 79, 79);
	display: grid;
	grid-template-columns: auto 1fr;
}

nav label {
	background-color: rgb(200, 200, 200);
	display: block;
	width: 40px;
	height: 40px;
	border: 1px solid rgb(100, 100, 100);
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
}

nav label::before {
	content: '';
	display: block;
	width: 70%;
	height: 30%;
	border-top: 3px solid rgb(100, 100, 100);
	border-bottom: 1.5px solid rgb(100, 100, 100);
	position: relative;
	top: 20%;
	left: 15%;
}

nav label::after {
	content: '';
	display: block;
	width: 70%;
	height: 30%;
	border-top: 1.5px solid rgb(100, 100, 100);
	border-bottom: 3px solid rgb(100, 100, 100);
	position: relative;
	top: 20%;
	left: 15%;
}

nav input {
	display: none;
}

nav a {
	text-decoration: none;
	color: rgb(200, 200, 200);
	display: block;
	padding: 1em 1em;
	border-bottom: 1px solid rgb(90, 90, 90);
}

nav a:hover {
	background-color: rgb(200, 200, 200);
	color: rgb(79, 79, 79);
}

nav ul {
	display: none;
	list-style-type: none;
}

nav input:checked + ul {
	display: block;
}

nav ul > li ul {
	display: block;
}

nav ul {
	background-color: rgb(100, 100, 100);
}

nav li > ul a {
	padding-left: 2em;
}

@media (min-width: 630px) {
	nav {
		display: flex;
		justify-content: center;
		font-size: 1.3em;
	}
	nav label {
		display: none;
	}

	nav input:checked + ul,
	nav ul {
		display: flex;
		flex-direction: row;
		position: relative;
		column-gap: 2em;
		padding: 0 2em;
	}

	nav ul li ul {
		display: none;
	}

	nav ul li:hover ul {
		display: block;
		position: absolute;
	}
}
